.card-title.black-color {
	color: black ;
 }

.card-content {
	height: 180px;
	overflow: auto;
}

.card-image img {
	  object-fit: cover;
}

.add:hover > .hover-img {
	background-color:#ff5078;
}
#addImg {
	object-fit: contain;
}

/*.card-content > input {
	height: 16px !important;
	margin-bottom: 5px;

}*/